<html>

<head>
    <title> Slam Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="container-fluid">

    <div id="header">
        <h1 class="text-center display-3" onclick="window.open('/','_self');">Slam Book</h1>
    </div>
    <hr style="height: 5px; border-top: 2px dotted white;">
    <p class="text-center h5">
        “Whenever you get Disappointment in life, 
        fix an Appointment of yours with your slam book because 
        only your memories with you friends can lead
        yourself to the heave of happiness!”
    </p>
    <div class="ad"></div>

    <div class="row text-center">
        <div id="login" class="font-weight-bold col-md-12">
            <button class="btn-success btn" onclick="window.open('loginform','_self');">Login</button>
        </div>

        <div id="signup" class="font-weight-bold col-md-12">
            <button class="btn btn-primary" onclick="window.open('signup','_self');">signup</button>
        </div>
    </div>

    <div class="ad"></div>


    <div class="text-center font-weight-bolder"
        style="margin-bottom: 3%;  position: fixed; bottom: 0; width: 100%; text-align: center;">
        <hr style="height: 5px; border-top: 2px solid white;">
        The Slam Book <sup>&copy;</sup> 2020
    </div>
</body>


</html>