
body{
    background-color: #e66969;
}

#header{
    color:white;
}
#main{
    background-color : #000000;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: x-large;
    color: #5dd1ba;
    padding: 2% 25%;
}

.form-control{
    margin-bottom: 4%;
}

/* .ad{
    height: 20%;
} */

#signupform ,#loginform,#login,#signup{
    background-color : #e66969;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: x-large;
    color: #5dd1ba;
    padding: 2% 5%;
    margin:2%;
    display: inline-block;
}

#signupform ,#loginform{
    width: 50%;
    background-color : #000000;
    padding: 2%;
}

#copy{
    background-color : #000000;
    padding: 2%;
}

h1{
    cursor: pointer;
    user-select: none;
}

#copybtn{
    width: 20%;
    font-size: xx-large;
}

#slambookbtn{
    width: 70;
}


@media only screen and (max-width: 600px) {
    #main, #signupform, #loginform{
        padding : 2%;
        margin:0%;
    }

    .col-md-12{
        width: 45%;
    }

    #signup,#login{
        background-color: #000000;
    }
    #signupform ,#loginform, #copy{
        width: 100%;
    }

    #copybtn{
        width: 60%;
    }
  }
  

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bolder;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
